
h1 {
    text-align: center;
    padding-top: 7%;
}


h2 {
    font-style: italic;
    text-align: center;
    margin: 5%;
}

form {
    padding-top: 15px;
    background-color: #00a8ec;
    opacity: 70%;
    margin-bottom: 5%;
}

#btnEnvoi {
    margin-top: 1%;
    margin-bottom: 2%;
    margin-left: 40%;

}
.adresse ul li{
 margin: 20px;
}

/*couleur site
ffaea0
00a8ec(bleu)
f59fbc(rose)
f8f400(jaune)
*/